{% extends 'base/base.html' %}
{% load static %}


{% block 'body' %}
<div class="text-center">
    <main class="form-signin">
        <form action="" class="" method="post">
            {% csrf_token %}
            <img src="{% static 'images/logo.png' %}" alt="" class="mb-4" width="72" height="72">
            {{ login_form }}
            <button class="w-100 btn btn-lg btn-danger" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">Copyright © 2022 AutoMax</p>
        </form>
    </main>
</div>
  
{% endblock  %}

{% block 'footer'  %}
  
{% endblock  %}